@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* nav style */
.btn-prymari{
    /* Group 3 */
    color: white;
    background-color: rgba(253, 110, 10, 1);
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: rgba(24, 24, 24, 1);
}
.nav-title2{
    color: rgba(253, 110, 10, 1);
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
   
}

/* banner style */
.baner-greeting{
    font-size: 45px;
    font-weight: 400;
    font-family: Open Sans;
    
}
.baner-title{
    font-weight: bold;
    font-size: 85px;
    font-family: Open Sans;
}
.pragrap{
    color: rgba(117, 117, 117, 1);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 30px; */
    letter-spacing: 0%;
    text-align: left;    
}
.banner-profileimg{
    width: 580px;

}
.bennar{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}

/* comon jinis */
section-title{
    font-size: 35px;
    font-weight: bold ;
    color: rgba(24, 24, 24, 1);
}
.section-description{
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.segendari-bg{
    background-color: #fff8f3;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.item-description{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
   
}
.main-div{
    border: 1px solid black;
    background-color: white;
}
.text-center{
    text-align: center;
}
.skill-main{
    display: flex;
    gap: 24px;
    /* Rectangle 5 */
   
}
.skill{
    /* border: 1px solid black; */
    /* Rectangle 5 */
    width: 267px;
    height: 300px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}
